svg.hylimo {
    --grid-size: calc(25px * var(--diagram-zoom-normalized));
    background: radial-gradient(circle, var(--diagram-grid) 1px, transparent 1px)
        calc(var(--diagram-scroll-x) * -1 * var(--diagram-zoom) + var(--grid-size) / 2)
        calc(var(--diagram-scroll-y) * -1 * var(--diagram-zoom) + var(--grid-size) / 2) / var(--grid-size)
        var(--grid-size);

    text {
        white-space: pre;
        user-select: none;
    }

    .selected-rect {
        fill: none;
        stroke: var(--diagram-layout-color-selected);
        stroke-width: calc(2px / var(--diagram-zoom));
    }

    .selected-outline {
        fill: none;
        stroke: var(--diagram-layout-color-selected);
        stroke-width: calc(1.5px / var(--diagram-zoom));
    }

    .selected-outline-corner,
    .canvas-rotate-icon,
    .canvas-point-inner,
    .canvas-dependency-line,
    .bezier-handle-line {
        stroke-width: calc(1.5px / var(--diagram-zoom));
    }

    .selected-outline-corner,
    .canvas-rotate-icon,
    .canvas-point-inner {
        fill: var(--diagram-background);
        stroke: var(--diagram-layout-color-selected);
    }

    .canvas-rotate-icon {
        rx: 100%;
        cursor: grab;
    }

    .create-connection-outline {
        stroke-width: calc(5px / var(--diagram-zoom));
        stroke-dasharray: calc(16px / var(--diagram-zoom));
    }

    .canvas-point {
        fill: transparent;
    }

    .canvas-point.selected,
    .canvas-point:hover {
        fill: rgb(from var(--diagram-layout-color-selected) r g b / 0.5);
    }

    .canvas-point-inner {
        pointer-events: none;
    }

    .create-connection-outline.target {
        stroke: var(--diagram-layout-color-selected);
    }

    .canvas-dependency-line {
        stroke: var(--diagram-layout-color);
        stroke-dasharray: calc(8px / var(--diagram-zoom));
        fill: none;
        pointer-events: none;
    }

    .bezier-handle-line {
        stroke: var(--diagram-layout-color);
        fill: none;
        pointer-events: none;
    }

    .select-canvas-connection {
        stroke-width: calc(12px / var(--diagram-zoom));
        fill: none;
        stroke: transparent;
    }

    .canvas-rotate-icon > path {
        fill: var(--diagram-layout-color);
    }

    .canvas-rotate-icon > rect {
        fill: transparent;
        cursor: pointer;
    }

    .resize {
        stroke-width: calc(12px / var(--diagram-zoom));
        stroke: transparent;
    }

    .resize-corner {
        stroke-linecap: square;
    }

    .cursor-resize-0,
    .cursor-resize-4 {
        cursor: nwse-resize;
    }

    .cursor-resize-1,
    .cursor-resize-5 {
        cursor: ns-resize;
    }

    .cursor-resize-2,
    .cursor-resize-6 {
        cursor: nesw-resize;
    }

    .cursor-resize-3,
    .cursor-resize-7 {
        cursor: ew-resize;
    }

    .create-connection-outline {
        stroke: var(--diagram-layout-color);
        fill: none;
        cursor: default;
        pointer-events: none;
    }

    .create-connection {
        transform: scale(calc(1 / var(--diagram-zoom)));
    }

    .create-connection-point {
        stroke-linecap: round;
        stroke: var(--diagram-layout-color-selected);
    }

    .create-connection-arrow {
        stroke: var(--diagram-layout-color);
        opacity: 0.5;
        fill: none;
        stroke-width: 3px;
    }

    .create-connection:hover .create-connection-arrow {
        stroke: var(--diagram-layout-color-selected);
        opacity: 1;
    }

    .create-connection-hover-line {
        stroke: transparent;
        stroke-width: 12px;
        fill: none;
    }

    .selectable {
        cursor: pointer;
    }

    .selected-outline,
    .canvas-point.selected {
        cursor: move;
    }

    &.cursor-resize-0,
    &.cursor-resize-4 {
        &,
        & * {
            cursor: nwse-resize !important;
        }
    }

    &.cursor-resize-1,
    &.cursor-resize-5 {
        &,
        & * {
            cursor: ns-resize !important;
        }
    }

    &.cursor-resize-2,
    &.cursor-resize-6 {
        &,
        & * {
            cursor: nesw-resize !important;
        }
    }

    &.cursor-resize-3,
    &.cursor-resize-7 {
        &,
        & * {
            cursor: ew-resize !important;
        }
    }

    &.cursor-move {
        &,
        & * {
            cursor: move !important;
        }
    }

    &.cursor-grab {
        &,
        & * {
            cursor: grab !important;
        }
    }
}
