.hylimo.toolbox-wrapper {
    position: absolute;
    top: 15px;
    right: 15px;
    width: var(--toolbox-width);
    max-height: 50%;
    display: flex;
    flex-direction: column;

    *:not(.preview *) {
        font-size: inherit;
        font-family: inherit;
    }

    --toolbox-margin: 10px;
    --toolbox-border-radius: 12px;
    --tool-button-margin: 5px;
    --tool-button-size: calc((var(--toolbox-width) - 9 * var(--tool-button-margin) - 1px) / 7);
    --toolbox-details-shift: -10px;

    .toolbox {
        display: flex;
        flex-direction: column;
        min-height: 0;
    }

    .toolbox-tools {
        border-radius: var(--toolbox-border-radius);
        box-shadow: var(--toolbox-box-shadow);
        background: var(--toolbox-background);
        position: relative;
        height: calc(var(--tool-button-size) + 2 * var(--tool-button-margin));
        overflow: hidden;
        flex: 0 0 auto;

        .wrapper {
            width: var(--toolbox-width);
            position: absolute;
            right: 0;
            display: flex;
            gap: var(--tool-button-margin);
            padding: var(--tool-button-margin);
            align-items: center;
        }

        .toolbox-tool-button {
            border: 1px solid transparent;
            position: relative;

            .icon.locked {
                --size: calc(min(18px, 100% - 8px) * 0.7);
                bottom: calc(-0.25 * var(--size));
                right: calc(-0.25 * var(--size));
                position: absolute;
            }
        }

        .toolbox-tool-button:hover:not(:disabled) {
            background: var(--toolbox-background-3);
        }

        .toolbox-tool-button.active {
            background: var(--toolbox-background-2);
        }

        .toolbox-tool-button:active {
            border-color: var(--toolbox-primary);
        }

        .toolbox-tool-button.active {
            .icon {
                color: var(--toolbox-primary);
            }
        }

        .toolbox-tool-button:disabled {
            opacity: 0.5;
        }

        .divider {
            width: 1px;
            height: calc(var(--tool-button-size) * 0.8);
            background: var(--toolbox-background-1);
        }
    }

    .toolbox-icon-button {
        width: var(--tool-button-size);
        height: var(--tool-button-size);
        border-radius: 6px;
        min-width: 0;
        min-height: 0;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        outline: none;

        .icon {
            --size: calc(min(18px, 100% - 8px));
            width: var(--size);
            height: var(--size);
        }
    }

    .toolbox-details {
        border-radius: var(--toolbox-border-radius);
        box-shadow: var(--toolbox-box-shadow);
        background: var(--toolbox-background);
        display: flex;
        flex-direction: column;
        margin-top: var(--toolbox-margin);
        opacity: 1;
        transition:
            opacity 0.3s ease,
            transform 0.3s ease;
        overflow: hidden;

        .toolbox-details-header {
            padding: var(--toolbox-margin);
        }

        .toolbox-details-header:not(:only-child):after {
            content: "";
            display: block;
            height: 1px;
            background: var(--toolbox-background-1);
            margin-top: var(--toolbox-margin);
        }

        @supports selector(::-webkit-scrollbar) {
            ::-webkit-scrollbar {
                height: 4px;
                width: 4px;
            }

            ::-webkit-scrollbar-thumb {
                background: var(--toolbox-scrollbar-thumb-background);
            }
        }

        .items {
            overflow-y: auto;
            overflow-x: hidden;
            margin-bottom: var(--toolbox-margin);
            flex-shrink: 10000000000;
        }

        .group {
            .group-header {
                background: var(--toolbox-background-2);
                font-weight: 500;
                padding: 0 var(--toolbox-margin);
            }
        }

        .item {
            display: block;
            width: 100%;
            text-align: left;
            outline: none;
            padding: 0 var(--toolbox-margin);

            .preview {
                position: absolute;
                right: calc(100% + 8px);
                width: 100%;
                padding: 0px;
                border-radius: var(--toolbox-border-radius);
                border: 5px solid var(--toolbox-background);
                box-shadow: var(--toolbox-box-shadow);
                overflow: hidden;
                display: none;

                svg {
                    padding: 10px;
                }
            }
        }

        .item.selected,
        .item:hover:not(:disabled),
        .item:focus-within {
            background: var(--toolbox-background-3);
        }

        .item:disabled {
            opacity: 0.7;
        }

        .item:hover {
            .preview {
                display: block;
            }
        }

        .selectable-input {
            display: flex;
            border-radius: 8px;
            align-items: center;
            background: var(--toolbox-background-3);
            padding: 4px 0px 4px 8px;

            input {
                margin-left: 8px;
                min-width: 0;
                flex: 1 1 0;
            }

            span {
                flex: 1 1 0;
                text-align: left;
            }

            .icon {
                width: 18px;
                height: 18px;
                flex: 0 0 auto;
            }
        }

        .selectable-input:focus-within {
            box-shadow: 0 0 0 1px inset var(--toolbox-primary);
        }

        .connection-icon {
            width: 18px;
            height: 18px;
            flex: 0 0 auto;

            path {
                stroke-width: 1px;
                stroke: currentColor;
                fill: none;
            }
        }
    }

    .toolbox-details:empty {
        opacity: 0;
        transform: translateY(var(--toolbox-details-shift));
        margin-top: 0;
    }

    .toolbox-errors {
        position: absolute;
        top: 100%;
        right: 0;
        margin-top: var(--toolbox-margin);
        border-radius: var(--toolbox-border-radius);
        box-shadow: var(--toolbox-box-shadow);
        width: calc(var(--tool-button-size) + 2 * var(--tool-button-margin));
        max-height: calc(var(--tool-button-size) + 2 * var(--tool-button-margin));
        box-sizing: border-box;
        overflow: hidden;
        transition:
            width 0.3s ease,
            max-height 0.3s ease,
            transform 0.3s ease;
        display: flex;
        flex-direction: column;

        background: var(--toolbox-background);

        .toolbox-errors-container {
            background: var(--toolbox-error-background);
            padding: var(--tool-button-margin);
        }

        .toolbox-error-button {
            position: absolute;
            top: var(--tool-button-margin);
            right: var(--tool-button-margin);
            transition: opacity 0.2s ease;
            color: var(--toolbox-error-color);
        }

        .error-list {
            overflow-y: auto;
            display: flex;
            flex-direction: column;
            opacity: 0;
            transition: opacity 0.2s ease;
            width: calc(var(--toolbox-width) - 2 * var(--tool-button-margin));

            .error-item {
                padding: 5px;
                user-select: text;
                overflow-wrap: break-word;
                word-break: normal;
            }

            .error-item:not(:last-child):after {
                content: "";
                display: block;
                height: 1px;
                background: currentColor;
                margin-top: var(--toolbox-margin);
            }
        }
    }

    .toolbox-errors:hover {
        width: var(--toolbox-width);
        max-height: 300px;

        .toolbox-error-button {
            opacity: 0;
            pointer-events: none;
        }

        .error-list {
            opacity: 1;

            .error-item {
                white-space: normal;
            }
        }
    }
}

.hylimo.toolbox-wrapper:has(.toolbox-details:empty) .toolbox-errors {
    transform: translateY(var(--toolbox-details-shift));
    top: calc(100% - var(--toolbox-details-shift));
    transition:
        width 0.3s ease,
        max-height 0.3s ease;
}

.toolbox-root {
    display: contents;
}

.hylimo.toolbox-wrapper:has(.pointer-events-disabled) {
    pointer-events: none;
}

.hylimo.toolbox-wrapper:focus-within {
    transition:
        width 0.15s ease,
        max-height 0.3s ease;
}

.hylimo.toolbox-wrapper:has(.closed):focus-within {
    transition:
        width 0.15s 0.15s ease,
        max-height 0.3s ease;
}

.hylimo.toolbox-wrapper:has(.closed) {
    --closed-toolbox-size: calc(var(--tool-button-size) + 2 * var(--tool-button-margin));
    width: var(--closed-toolbox-size);
    max-height: var(--closed-toolbox-size);

    .toolbox-tools {
        .divider {
            visibility: hidden;
        }
    }
}

@container sprotty (min-width: 0) {
    .hylimo.toolbox-wrapper {
        --toolbox-width: calc(min(60cqw, 300px));
    }
}
