.hylimo.toolbox-wrapper {
    position: absolute;
    top: 15px;
    right: 15px;
    width: calc(min(40%, 300px));
    max-height: 50%;
    display: flex;
    flex-direction: column;
    box-shadow: var(--toolbox-box-shadow);
    border-radius: 12px;
    overflow: hidden;
    transition:
        width 0.3s ease,
        max-height 0.3s ease;

    --toolbox-margin: 10px;
    --codicon-button-size: 24px;

    .toolbox {
        display: flex;
        flex-direction: column;
        background: var(--toolbox-background);
        min-height: 0;

        .toolbox-header {
            display: flex;
            padding: var(--toolbox-margin) var(--toolbox-margin) 5px var(--toolbox-margin);
            background: var(--toolbox-header-background);
            font-weight: 600;
            align-items: center;
            transition: background-color 0.3s ease;

            .title {
                flex: 1 1 0;
                min-width: 0;
                overflow: hidden;
            }
        }

        @supports selector(::-webkit-scrollbar) {
            ::-webkit-scrollbar {
                height: 4px;
                width: 4px;
            }

            ::-webkit-scrollbar-thumb {
                background: var(--toolbox-scrollbar-thumb-background);
            }
        }

        .items {
            overflow-y: auto;
            margin-bottom: var(--toolbox-margin);

            .group {
                .group-header,
                .item {
                    padding: 0 var(--toolbox-margin);
                }

                .group-header {
                    background: var(--toolbox-group-header-background);
                    font-weight: 500;
                }

                .item {
                    display: block;
                    width: 100%;
                    font-size: inherit;
                    text-align: left;
                    outline: none;
                }

                .item:hover,
                .item:focus-within {
                    background: var(--toolbox-item-hover-background);
                }
            }
        }
    }

    .codicon-button {
        width: var(--codicon-button-size);
        height: var(--codicon-button-size);
        border-radius: 6px;
        display: flex;
        align-items: center;
        justify-content: center;

        i.codicon {
            font-size: 18px;
        }
    }

    .codicon-button:hover {
        background: var(--toolbox-item-hover-background);
    }
}

.hylimo.toolbox-wrapper:has(.pointer-events-disabled) {
    pointer-events: none;
}

.hylimo.toolbox-wrapper:has(.closed) {
    --closed-toolbox-size: calc(var(--codicon-button-size) + var(--toolbox-margin) * 2);
    width: var(--closed-toolbox-size);
    max-height: var(--closed-toolbox-size);

    .toolbox {
        .toolbox-header {
            background: transparent;

            button:last-child {
                margin: calc(var(--toolbox-margin) * -1);
                width: var(--closed-toolbox-size);
                height: var(--closed-toolbox-size);
            }
        }
    }
}
